.App {
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
    text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

html {
    position: relative;
    min-height: 100%;  
}

.main {
    margin-bottom: 2em; /* Margin bottom by footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2em;
    padding: 8px;
    background-color: LightGray;
}

.searchCard {
    max-width: 20rem;
    padding: 5px;
    align-content: center;
}

.CategoryList {
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
}

.mainContent {
    border-left: 1px solid black;
}

ul.sideBar > li:before {
    content: "\25b6";
    padding-right: 4px;
}

.clickable {
    cursor: pointer;
}

.secList {
    list-style: none;
    padding-left: 1em;
}

.feedback {
    border-width: 2px;
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    padding: 10px;
}

.feedback > .collapse > .input-group {
    margin-top: 20px;
}

.paris {
    background-color: aquamarine;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
